APP_NAME="JJM Brain HRMS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://domain.com

APP_HTTP_PORT=8080

DB_CONNECTION=mysql
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=jjm_hrms
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

RUN_MIGRATIONS=false
CACHE_CONFIG=true
